{% extends 'homebase.html' %}

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-6" style="text-align:center;">Hello, Admin</h1>
  <center>
  <p class="lead">Welcome to Hospital Management System.</p>
  <hr class="my-4">
  <p> You are responsible for organizing and overseeing the health services and daily activities of a hospital or healthcare facility. you can manage Doctors, Patients and Bill, communicate between departments,patient and doctor. patient care amongst other duties.You can access various features of admin after Login/SignUp.</p>
  <p class="lead">
<!--    <a class="btn btn-primary btn-lg" href="adminsignup" role="button">SignUp</a>-->
    <a class="btn btn-primary btn-lg" href="adminlogin" role="button">Login</a>
  </p>
  </center>
</div>

{% endblock content %}