{% extends 'homebase.html' %}
<!--
developed By : Dnyaneshwar Chavan in Spark It Training Institute
-->

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-6" style="text-align:center;">Hello, Patient</h1>
  <center>
  <p class="lead">Welcome to Hospital Management System.</p>
  <hr class="my-4">
  <p>We believe that the greatest gift you can give your family and the world is a healthy you.</p>
  <p>You can access various features after Login/SignUp.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="patientsignup" role="button">Register Your Account</a>
    <a class="btn btn-primary btn-lg" href="patientlogin" role="button">Login</a>
  </p>
  </center>
</div>

{% endblock content %}